/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css?family=PT+Sans|Roboto:400,700&display=swap");

/* Fonts Stack */
$roboto: "Roboto", sans-serif;
$pt-sans: "PT Sans", sans-serif;

/* Heading */
h1,
h2 {
  font-family: $pt-sans;
}
